BASE_API=https://api-truemoney-stg.savyu.com/api/web/consumer/giaodoan
NEXT_PUBLIC_IMAGE_URL=https://d3gen0htoikr36.cloudfront.net/assets/
NEXT_PUBLIC_BASE_API=https://api-truemoney-stg.savyu.com/api/web/consumer/giaodoan